@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); /* Iported from google fonts */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#759EF4 ;
    font-family: Roboto, sans-serif;
    width: 100%;
}

/*header */

header{
    top:0;
    position: fixed;
    width: inherit;
    background: #FFFFFF;
    height: 3.125rem;
    padding-bottom: 2rem;
}

header > h1{
    color: #24272e;
    text-align: center;
    font-family: Roboto,sans-serif;
}

/* footer */
footer{
    bottom:0;
    position: fixed;
    width: inherit;
    background: #FFFFFF;
    height: 3.125rem;
}
footer > h2{
    color: #24272e;
    text-align: center;
    font-family: Roboto,sans-serif;
    
}
.score-board{
    margin: 2rem auto; /* top and bottom 1.25rem and left and right auto*/
    border: 0.18rem solid #FFFFFF;
    border-radius: 0.25rem;
    text-align: center;
    width: 12rem; /*15 rem */
    color:#FFFFFF;
    font-size: 2.87rem;
    padding: 0.93rem 1.25rem;
}

.badge{
    background: #e2584d;
    color:#FFFFFF;
    font-size: 2rem;
    margin-left: auto;
   /* padding: 0.125rem 0.625rem; top and bot 0.125rem and left and right 0.625rem */
}

#user-label{

    display: inline-block;

}

#computer-label{
    display: inline-block;
}

.result{
    font-size: 2.5rem;
    color: #FFFFFF;
}

.result > p {
    text-align: center;
    font-weight: bold;
}

.choices{
    margin-top: 2rem;
    text-align: center;
}

.choice{
    display: inline-block;
    margin: 0 3rem; /* top bot 0 and left and right 3rem */
}

/*style for hovering mouse */
.choice:hover{
    cursor: pointer;
}

