@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); /* Iported from google fonts */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#759EF4 ;
    font-family: Roboto, sans-serif;
    width: 100%;
}

a{
    text-decoration: none;
}

header{
    top:0;
    position: fixed;
    width: inherit;
    background: #FFFFFF;
    height: 3.125rem;
    padding-bottom: 2rem;
}

header > h1{
    color: #24272e;
    text-align: center;
    font-family: Roboto,sans-serif;
}

/* footer style*/
footer{
    bottom:0;
    position: fixed;
    width: inherit;
    background: #FFFFFF;
    height: 3.125rem;
}

.footer-rules{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    text-align: right;  
    color: #24272e;
    font-family: Roboto,sans-serif;
}

/*Form style */
.signup-form{
    color: #24272e;
    font-family: Roboto,sans-serif;
    background-color: #808080;
    max-width: 30rem;
    margin: 0 auto;
    padding: 3rem;
    margin-top: 5rem;
    line-height: 3%;
}


/*Social media style */
.social-media > li{
    display: inline;
}

.social-media{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    color: #24272e;
    font-family: Roboto,sans-serif;
}

.score-board{
    margin: 4rem auto 1rem; /* top and bottom 4rem  and left and right auto and bottom 1rem*/
    border: 0.5rem solid #FFFFFF;
    border-radius: 0.25rem;
    text-align: center;
    width: 12rem; 
    color:#FFFFFF;
    font-size: 2.5rem;
    padding: 0.5rem 1.25rem;
}

.insignia{
    background: #24272e;
    color:#FFFFFF;
    font-size: 2rem;
}

.result{
    font-size: 2.5rem;
    color: #24272e;
}

.result > p {
    text-align: center;
    font-weight: bold;
}


.choices{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;  
}

.choice{
    border: 0.2rem solid #FFFFFF;
    border-radius: 50%;
    padding: 0.3rem;
    display: inline-block;
    margin: 0 3rem; /* top bot 0 and left and right 3rem */
}

/*style for hovering mouse */
.choice:hover{
    cursor: pointer;
}

/* media querys*/
/* Navegation for mobile size */
@media(max-width:705px){
    header > h1{
        color: #24272e;
        text-align: center;
        font-family: Roboto,sans-serif;
        font-size: large;
    }
}