@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); /* Iported from google fonts */

/* General style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#759EF4 ;
    font-family: Roboto, sans-serif;
    width: 100%;
}

a{
    text-decoration: none;
}

/* blinker effect*/
nav div span{
    animation: blinker 1s linear infinite;
}

@keyframes blinker{
    50%{
        opacity: 0;
    }

}

/* header style*/
header{
    top:0;
    position: fixed;
    width: inherit;
    background: #FFFFFF;
    height: 3.125rem;
    padding-bottom: 2rem;
}

/*Style nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

nav ul li{
    display: inline;
    padding: 0 1rem;
}

nav ul li a{
    color: #24272e;
}

/* footer style*/
footer{
    bottom:0;
    position: fixed;
    width: inherit;
    background: #FFFFFF;
    height: 3.125rem;
}

/* mobile*/
.mobile{
    display: none;
}
.show{
    display: block;
    height: 15rem;
}
.footer-rules{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    text-align: right;  
    color: #24272e;
    font-family: Roboto,sans-serif;
}

/*Social media style */
.social-media a{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    color: #24272e;
    font-family: Roboto,sans-serif;
    font-size: 150%;
}

/*Form style */
.signup-form{
    color: #24272e;
    font-family: Roboto,sans-serif;
    background-color: #808080;
    max-width: 30rem;
    margin: 0 auto;
    padding: 3rem;
    margin-top: 5rem;
    line-height: 3%;
}
/*score boar style */
.score-board{
    margin: 4rem auto 1rem; /* top and bottom 4rem  and left and right auto and bottom 1rem*/
    border: 0.5rem solid #FFFFFF;
    border-radius: 0.25rem;
    text-align: center;
    width: 12rem; 
    color:#FFFFFF;
    font-size: 2.5rem;
    padding: 0.5rem 1.25rem;
}

.insignia{
    background: #24272e;
    color:#FFFFFF;
    font-size: 2rem;
}
/* Result style*/
.result{
    font-size: 2.5rem;
    color: #24272e;
}

.result > p {
    text-align: center;
    font-weight: bold;
}

/* choices style*/
.choices{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;  
}

.choice{
    border: 0.2rem solid #FFFFFF;
    border-radius: 50%;
    padding: 0.3rem;
    display: inline-block;
    margin: 0 3rem; /* top bot 0 and left and right 3rem */
    transition: all 0.3s ease; /* slow down timer for the transition */
}

/*style for hovering mouse */
.choice:hover{
    cursor: pointer;
    background: #15479e;
}

/* Glowing styles*/

.green-glow{
    border: 0.2rem solid #4dcc7d;
    box-shadow: 0 0 0.6rem #31b43a;
}

.red-glow{
    border: 0.2rem solid #fc121b;
    box-shadow: 0 0 0.6rem #d01115;
}

.grey-glow{
    border: 0.2rem solid #464647;
    box-shadow: 0 0 0.6rem #25292b;
}

/* media querys*/
/* Navegation for mobile size */
@media(max-width:48rem){
    nav{
        position: static;
    }

    nav ul{
        display: none;
        width: 100%;
        background-color: #FFFFFF;
        position: absolute;
        top: 3.125rem;
        left:0;
        right:0;
        height: 40vh;
        text-align: center;

    }

    nav ul li{
        display: block;
    }

    a.mobile{
        color: #24272e;
        display: block;
        font-size: 2rem;
    }
    .footer-rules{
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        text-align: right;  
        color: #24272e;
        font-family: Roboto,sans-serif;
        font-size: x-small;
    }

    .signup-form{
        color: #24272e;
        font-family: Roboto,sans-serif;
        background-color: #808080;
        max-width: 30rem;
        margin: 0 auto;
        padding: 3rem;
        margin-top: 5rem;
        line-height: 3%;
    }

}